torch>=2.0
open_clip_torch==2.23.0
transformers>=4.38
datasets>=2.14
peft>=0.8.2
bitsandbytes>=0.41.1
Pillow
tqdm
nibabel
scikit-learn
torchvision
ipykernel
ipywidgets
python-dotenv
matplotlib
nbconvert
nbformat
numpy
pandas
accelerate
evaluate